body {
	background-color:#fafafa;
}

section.content01{
	padding-top: 56px;
	height: 65vh;
}

.carousel-inner img {
	object-fit:cover;
  	height: 750px;
}

section.content02{
	height:35vh;
	padding: 0 100px;
}

section.content02 span{
	margin-bottom: 10px;
}


div.wrapper{
	background-color: rgb(169 100 21 / 83%);
	padding: 50px 0 100px 0;
}

section.content03{
	margin-top: 56px;	
	
}

section.content04{
	margin-top: 56px;
	height: 100vh;
}

.section_div_wrapper .img-wrapper {
	width: 250px;
	height: 300px;
	margin: 10px;
	
}

.section_div_wrapper .img-wrapper img{
	object-fit: contain;
	width: 100%;
}
